<%- include('partials/header') %>
<nav>
    <div class="nav-left">
        <h1 class="logo">Warrior Gains</h1>
        <ul>
            
            <!--<li><img src="/notification.png" ></li>-->
            <li><i class="far fa-bell"></i></li>
            <!--<li><img src="/inbox.png" ></li>-->
            <li><i class="fas fa-inbox"></i></li>
            <!--<li><img src="/video.png" ></li>-->
            <li><i class="fas fa-video"></i></li>
        </ul>
    </div>
    <div class="nav-right">
        <div class="search-box">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
  
        <div class="nav-user-icon online">
             <i class="fas 1`fa-users"></i>
  
        
        <a class="btn btn-dark btn-lg" role="button" href="/" id="logOut"><i class="fas fa-sign-out-alt"></i>Log Out</a>
    </div>
  </nav>

<div class="container">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="profile-widget">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-container" style="background-color:green;">  
                        <img src="https://images.unsplash.com/photo-1548536904-f6660b76e77a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=80&q=80" class="avatar" alt="avatar"> 
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="details">
                        <% user.forEach(user => { %>
                            <h2 class="name"><%= user.username %>&nbsp;<%= user.lname %></h2>
                            <% }) %>
                        <div>Bio:</div>
                        <div>add a bio here</div>
                        <div>Link: *add links here*</div>
                        <div class="mg-top-10">
                            <a class="btn btn-dark btn-lg" role="button"  href="/edit">Edit Profile</a>
                        </div>
                    </div>
                </div>  
                
                <div> 
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <blockquote>
                                            <% user.forEach(user => { %>
                                                <p><%= user.fname %>&nbsp;<%= user.lname %></p>
                                                <% }) %>Hello World</p>
                                                <button class="btn" type="button" style="color:#eb3b60;"> 
                                                <span> 5 Likes</span></button>
                                                <button class="btn comment" type="button" style="color:#eb3b60;">
                                                <span style="color:#f9d616;"> 2 Comments</span></button>
                                            
                                        </blockquote>
                                    </li>
                                    <li class="list-group-item">
                                        <blockquote>
                                            <p>@user Hello World</p>
                                            <button class="btn" type="button" style="color:#eb3b60;"> 
                                            <span> 5 Likes</span></button>
                                            <button class="btn comment" type="button" style="color:#eb3b60;">
                                            <span style="color:#f9d616;"> 2 Comments</span></button>
                                        </blockquote>
                                    </li>
                                    <li class="list-group-item">
                                        <blockquote>
                                            <p>@user Hello World</p>
                                            <button class="btn" type="button" style="color:#eb3b60;"> 
                                                <span> 5 Likes</span></button>
                                                <button class="btn comment" type="button" style="color:#eb3b60;">
                                                <span style="color:#f9d616;"> 2 Comments</span></button>
                                        </blockquote>
                                    </li>
                                    <li class="list-group-item">
                                        <blockquote>
                                            <p>@user Hello World</p>
                                            <button class="btn" type="button" style="color:#eb3b60;"> 
                                                <span> 5 Likes</span></button>
                                                <button class="btn comment" type="button" style="color:#eb3b60;">
                                                <span style="color:#f9d616;"> 2 Comments</span></button>
                                        </blockquote>
                                    </li>
                                    <li class="list-group-item">
                                        <blockquote>
                                            <p>@user Hello World</p>
                                            <button class="btn" type="button" style="color:#eb3b60;"> 
                                                <span> 5 Likes</span></button>
                                                <button class="btn comment" type="button" style="color:#eb3b60;">
                                                <span style="color:#f9d616;"> 2 Comments</span></button>
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <button class="btn" type="button" style="width:100%;
                                background-color:green;color:#fff;padding:16px 32px;
                                margin:0px 0px 6px;border:none;box-shadow:none;
                                text-shadow:none;opacity:0.9;text-transform:uppercase;
                                font-weight:bold;font-size:13px;letter-spacing:0.4px;line-height:1;outline:none;">NEW POST</button>
                                <ul class="list-group"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>     
 </div>

</div>
</div>
<style>

 body {
        background-color: gainsboro;
    }

    .list-group-item{
        background-color: rgb(238, 245, 233);
    }  

   nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: gainsboro;
                padding: 5px 5%;
                position: sticky;
                top: 0;
                z-index: 100; 
            }

            .nav-left, .nav-right {
                display: flex;
                align-items: center;
                
            }

            .nav-left ul li {
                list-style: none;
                display: inline-block;
            }

            .nav-left ul li i {
                width: 28px;
                margin: 0 15px;
            }

            .nav-user-icon i {
                width: 40px;
                border-radius: 50%;
                cursor: pointer;
            }

            .nav-user-icon {
                margin-left: 30px;
            }

            .search-box {
                background: #F2F3E9;
                width: 350px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                padding: 0 15px;
            }

            .search-box i {
                width: 18px;

            }

            .search-box input {
                width: 100%;
                background: transparent;
                padding: 10px;
                outline: none;
                border: 0;
            }

.profile-widget {
  position: relative;
}
.profile-widget .image-container {
  background-size: cover;
  background-position: center;
  padding: 190px 0 10px;
}
.profile-widget .image-container .profile-background {
  width: 100%;
  height: auto;
  align-items: center;
}
.profile-widget .image-container .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto -60px;
  display: block;
}
.profile-widget .details {
  padding: 50px 15px 15px;
  text-align: center;
}


</style>


<%- include('partials/header') %>